/* h1（大見出し）の文字サイズ */
h1 {
    font-size: 2.5rem; /* 約40px */
    text-align: center;
}


/* h2（中見出し）の文字サイズ */
h2 {
    font-size: 1.5rem; /* 約32px */
    text-align: center;
}

/* p（段落）の文字サイズ */
p {
    font-size: 1rem; /* 約16px (基準サイズ) */
    text-align: center;
}

/* h3（中見出し）の文字サイズ */
h3 {
    font-size: 1.5rem; /* 約32px */
    text-align: center;
}

body {
  background-color: skyblue;
}
/* サイト全体のフォント指定 */
body {
font-family: "Hannari" ;
}



