/* h1（大見出し）の文字サイズ */
h1 {
    font-size: 2.5rem; /* 約40px */
}

/* h2（中見出し）の文字サイズ */
h2 {
    font-size: 2rem; /* 約32px */
}

/* p（段落）の文字サイズ */
p {
    font-size: 1rem; /* 約16px (基準サイズ) */
}

/* h3（中見出し）の文字サイズ */
h2 {
    font-size: 2rem; /* 約32px */
}

body {
  background-color: skyblue;
}
/* サイト全体のフォント指定 */
body {
font-family: "Hannari" ;
}
